{% extends "layout.html" %}
{% block content %}

<section class="text-dark p-5 text-center text-sm-start" style="background-color: white">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <!-- TABLE OF CONTENTS -->
                <div>
                    <h3 id="top"><i>Overview</i></h3>
                    <p class="lead my-3">
                        <ol>
                            <li><a href="#para1">About <i>SunSpot</i></a></li>
                            <li><a href="#para2"><i>SunSpot</i>'s Initiative</a></li>
                            <li><a href="#para3">Who Should Use <i>SunSpot</i>?</a></li>
                            <li><a href="#para4">Why Use Solar Panels?</a></li>
                            <li><a href="#para5">General Guide to Solar Panels</a></li>
                        </ol>
                    </p>
                </div>
                <hr>
                <h1 id="para1">I. About <i>SunSpot</i></h1>
                <p class="lead my-3">
                    <i>SunSpot</i> offers users the potential to determine the most suitable areas for building
                    solar panel farms that would generate the most efficient yield of energy. In the form of an 
                    interactable map, users are granted accurate displays of regions in Florida that would be the most 
                    beneficial location for solar panels. Futhermore, users are able to store bookmarked coordinates 
                    and refer back to the data at any point with a <i>SunSpot</i> account.
                <br><br>
                </p>

                <h1 id="para2">II. <i>SunSpot</i>'s Initiative</h1>
                <p class="lead my-3">
                    Climate change has been a prevailing issue that has been increasingly bringing forth various 
                    environmental concerns. Many of which are due to preexisting modern factors — prominently in the 
                    form of energy resources. Recent data from 2020 indicates that the Floridian-based company, FPL, 
                    utilizes 72.66% of natural gases and only 2.86% of solar-powered sources for overall energy produced.
                    <a href="https://www.fpl.com/content/dam/fpl/us/en/news/2021/energy-news-q2-2021.pdf" target="_blank">[1]</a> 
                    For a greener future, we should look towards methods that generate carbon-free energy, as it will 
                    ultimately reduce emission levels compared to other forms of energy sources.
                <br><br>
                    As the sunshine state, the integration of solar energy should be more prevalent in Florida. Solar 
                    panels have been proven to provide clean energy that can be affordable in the long-run and easily 
                    implemented across most climates. With <i>SunSpot</i>, we hope to encourage the presence of solar 
                    panels as a more common green-energy alternative.
                <br><br>
                </p>
                
                <h1 id="para3">III. Who Should Use <i>SunSpot</i>?</h1>
                <p class="lead my-3">
                    <i>SunSpot</i> is catered towards prospective Floridian land owners who may have interest in owning 
                    a personal solar energy farm.
                <br><br>
                    Across the state of Florida, there are acres of unused land with the potential to be converted into 
                    photovoltaic resources. With the help of <i>SunSpot</i>, even residential individuals with large 
                    expanses of private property could discern optimal locations for personal solar panels.
                <br><br>
                </p>

                <h1 id="para4">IV. Why Use Solar Panels?</h1>
                <br>
                <h4>Cost Benefits in the Long-Run</h4>
                    <p class="lead my-3">
                        If you are in a position where you would be situated for the foreseeable future, solar panels would be 
                        a welcome investment. While there exists the initial cost of solar panels, over the course of time, the 
                        generated solar energy would more than surpass its own cost in utility and set-up.
                        <br><br>
                        Sunny weather is almost a guaranteed aspect of the Floridian lifestyle. Oftentimes, there is sun exposure 
                        year-long. Especially in the summertime, air conditioning becomes essential. With solar panels, the cost 
                        of such utility can be heavily minimalized or even forgone.
                    <br>
                    </p>

                <h4>Increased Property Value and Federal Tax Benefits</h4>
                    <p class="lead my-3">
                        For private individuals, owning property with installed solar panels adds onto property value. In the 
                        scenario where you would seek to sell property, having solar panels can add onto property appeal for others 
                        in the market.
                        Furthermore, solar panels is compatible as federal income tax credit, where filing system costs of installation 
                        can grant 30% of equipment costs back.
                    <br>
                    </p>
                    
                <h4>Low Maintenance</h4>
                    <p class="lead my-3">
                        Generally, with proper care, solar panels can last at least 25 years. Solar panels are often built to handle 
                        most Floridian weathers. For a lifespan that runs past two decades, solar energy would be an available resource. 
                        However, it is important to note that solar panels will lose efficiency would likely need to be replaced accordingly.
                    <br>
                    </p>
                
                <h4>The Environment</h4>
                    <p class="lead my-3">
                        Solar energy is a very reliable renewable resource that produces no waste. As mentioned before, solar energy and solar 
                        panels are a viable method in combatting carbon emissions and usage of nonrenewable resources that are tied directly 
                        to a variety of pollutions. 
                    <br>
                    </p>   
                    
                <h1 id="para5">V. General Guide to Solar Panels</h1>
                <br>
                <h4>Optimal Physical Locations for Solar Panels</h4>
                <p class="lead my-3">
                    Physical locations for solar panels heavily depend on the user's purpose and background. For large expanses of land, solar panels 
                    should have a predetermined area reserved for solar panels that would not interfere with any obstructions, as spaces that are 
                    covered would not generate optimal solar energy.
                    <br><br>
                    Generally, residential users would benefit from having solar panels installed onto rooftops, as it is an efficient use of limited 
                    amounts of space. For residents, the latitude of solar panel matters. As latitude increases, the potential of solar energy generation 
                    increases. Residents should also pay mind to surrounding environmental blockages.
                    <br><br>
                    While it is not mandatory, solar panels should be installed facing south, at a 90-degree angle towards the sun for the most efficient 
                    intake.
                    <br><br>
                </p>

                <h4>Energy Generated from Solar Panels</h4>
                <p class="lead my-3">
                    Prior to installing solar panels, users should calculate their approximate energy usages to better determine the number of solar panels 
                    required to cover personal amounts of consumption. A set of 4 general residential solar panels produce around 100-150 kWh per month, in 
                    the condition of full sun exposure. Typical residential solar panels measure 5.4 feet by 3.25 feet in dimensions.
                    <br><br>
                    According to the US Energy Information Administration, the average US citizen's energy usage is approximately 909 kWh per month. Much the 
                    energy is spent in maintaining temperatures, such as air conditioning and heating, hot water, appliances, and lights in homes. The average 
                    Floridian resident uses 1,110 kWh per month and pays $128.10 monthly. Such a resident would likely have to build at least 36 solar panels to 
                    cover their expenses.
                    <br><br>
                    It is also important to note that solar energy collected from panels will experience inefficiency due to equipment in the form of small electricity 
                    losses. Over time, solar panels will also lose their efficiency. However, the main factor that affects the amount of energy generated would simply be 
                    the weather conditions. Fortunately, solar panels will still generate energy on cloudy days.
                </p>

                <h4>Future-Proofing with Solar Panels</h4>
                <p class="lead my-3">
                    As mentioned before, with proper maintanence, solar panels can last at least 25 years. Solar panels generally do not require constant maintenance or servicing, 
                    unless damaged.
                <br><br>
                </p>
                <p class="lead my-3">Go Back <a href="#top">Top</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}