{% extends "layout.html" %}
{% block content %}

    <!-- CODE REFERENCE USED:
        Bryce St. Pierre
        Traversy Media
        CodeXWorld
        Coding with Leif
    -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <body>
    <!-- Set-Up for (1) Location Searchbar, (2) Map, (3) Geo-Data -->
    <div class="container">
        <div class="row">
            <div class="col">
                <input id="search" class="form-control" type="text" placeholder="Search for a new location..."/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="format-address"></div>
        </div>
        <div class="row">
            <div class="col" id="geometry">
                <!--<ul class="geodata">
                    <li>Latitude: <span id="lat_out"></span></li>
                    <li>Longitude: <span id="lng_out"></span></li>
                </ul>-->
            </div>
        </div>
        <div class="row">
            <div class="col" id="openweather">
                
            </div>
        </div>
        <div class="row">
            <!-- API data graph -->
            <div id="chart">
            
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- API Script for Google Map -->
    <script src="static/app.js"></script>

    <!-- API for Google Maps and Places-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx9BeRyEXjOwbaPxuqYJLdnQMF2u1x36c&callback=initMap&libraries=places"
            async defer></script>

    <style>
        #map {
            height: 70vh;
            width: auto;
            margin: 0;
            padding: 0;
        }
        #chart {
            height: 70vh;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    </body>

{% endblock content %}