
{% extends "layout.html" %}
{% block content %}

<section class="text-dark p-5 text-center text-sm-start" style="background-color: white">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h1>Application</h1>
                <p class="lead my-3">
                    This will be the main application page
                    <a href="webapp">Test Redirect to WebApp</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
