{% extends "layout.html" %}
{% block content %}

    <!-- CODE REFERENCE USED:
        Bryce St. Pierre
        Traversy Media
        CodeXWorld
        Coding with Leif
    -->
    <body>
    <!-- Set-Up for (1) Location Searchbar, (2) Map, (3) Geo-Data -->
    <div class="container">
        <div class="row">
            <div class="col">
                <input id="search" class="form-control" type="text" placeholder="Search for a new location..."/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="geometry">
                <!--<ul class="geodata">
                    <li>Latitude: <span id="lat_out"></span></li>
                    <li>Longitude: <span id="lng_out"></span></li>
                </ul>-->
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- API Script for Google Map -->
    <script>
        var map;

        // Initialize Google Map function.
        function initMap() {
            // Setting default values to UF coordinates.
            var options = {
                center: {lat: 29.643, lng: -82.354},
                zoom: 14
            };

            map = new google.maps.Map(document.getElementById('map'), options);

            infowindow = new google.maps.InfoWindow;
            // Ask user for geolocation (current location).
            // User has the option to allow or decline.
            // If user declines or if location is not found, default to UF coordinates.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (pos) {
                    var position = {
                        lat: pos.coords.latitude,
                        lng: pos.coords.longitude
                    }
                    // Add initial marker.
                    var marker = new google.maps.Marker({
                        lat: pos.coords.latitude,
                        lng: pos.coords.longitude,
                        map: map
                    });

                    infowindow.setPosition(position);
                    infowindow.setContent('Current location.');
                    infowindow.open(map);

                }, function () {
                    handleLocationError('Geolocation failure.', map.center());
                    // Add initial marker.
                    var marker = new google.maps.Marker({
                        lat: 29.643,
                        lng: -82.354,
                        map: map
                    });
                })
            } else {
                handleLocationError('No valid geolocation found.', map.center());
                // Add initial marker.
                var marker = new google.maps.Marker({
                    lat: 29.643,
                    lng: -82.354,
                    map: map
                });
            }

            // Set input variable to equal the search text inputted by the user.
            var input = document.getElementById('search');
            var searchBox = new google.maps.places.SearchBox(input);

            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Create listener event function for search bar to update the map.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                // If input isn't a valid place.
                if (places.length == 0) {
                    return;
                }
                // Reset marker.
                markers.forEach(function (m) {
                    m.setMap(null);
                });
                markers = [];

                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (p) {
                    if (!p.geometry) {
                        return;
                    }
                    markers.push(new google.maps.Marker({
                        map: map,
                        title: p.name,
                        position: p.geometry.location
                    }));

                    if (p.geometry.viewport) {
                        bounds.union(p.geometry.viewport);
                    } else {
                        bounds.extend(p.geometry.location);
                    }
                });
                // Update bounds to map.
                map.fitBounds(bounds);

                // For geolocation data to be outputted into body of HTML file.
                var geoplace = searchBox.getPlaces();
                console.log(input.value);
                //document.getElementById('lat_out').innerHTML = input.value.geometry.location.lat();
                //document.getElementById('lng_out').innerHTML = input.value.geometry.location.lng();

                //geolocation API, use input.value
                var geolocation = input.value;
                axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
                    params: {
                        address: geolocation,
                        key: 'AIzaSyDx9BeRyEXjOwbaPxuqYJLdnQMF2u1x36c'
                    }
                })
                //error catching.
                .then(function (response) {
                    //logging full responses of locations.
                    console.log(response);

                    //PROVIDES: lat/long data. geometry data.
                    var lat = response.data.results[0].geometry.location.lat;
                    var lng = response.data.results[0].geometry.location.lng;
                    //console.log(lat);
                    console.log(lng);
                    var geometry_out = `
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Latitude</strong>: ${lat}</li>
                        <li class="list-group-item"><strong>Longitude</strong>: ${lng}</li>
                    `;

                    //output data retrieved from geocode to html body div.
                    document.getElementById('geometry').innerHTML = geometry_out;
                    
                    // Get the solcast api data
                    let baseUrl = '/api';
                    axios.get(baseUrl, {
                        params: {
                            latitude: lat,
                            longitude: lng,
                        }
                    })
                    .then(function (response) {
                        console.log(response.data.outputs.avg_ghi.monthly);
                    });
                })
                .catch(function (error) {
                    console.log(error);
                });
            });
        };

        // Asking user for geolocation fall-back function.
        function handleLocationError(content, position) {
            infowindow.setPosition(position);
            infowindow.setContent(content);
            infowindow.open(map);
        }
    </script>

    <!-- API for Google Maps and Places-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx9BeRyEXjOwbaPxuqYJLdnQMF2u1x36c&callback=initMap&libraries=places"
            async defer></script>

    <style>
        #map {
            height: 70vh;
            width: auto;
            margin: 0;
            padding: 0;
        }
    </style>
    </body>

{% endblock content %}