{% extends "layout.html" %}
{% block content %}

<section class="text-light p-5 text-center text-sm-start" style="background-color: white">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h1> <span style="color: #51b1bf">What is</span><span style="color: #FFAE42"> SunSpot</span><span style="color: #51b1bf">?</span></h1>
                <p class="my-4 p-4" style="background: #51b1bf; font-size: 20px">
                    Simply put, <i>SunSpot</i> generates accurate regional maps for building solar panels.
                    </br></br>
                    As a web application designed to utilize multiple API metrics and recorded data, 
                    <i>SunSpot</i> aims to provide the most optimal locations for solar energy farms in the state of Florida.
                    With <i>SunSpot</i>, users can browse through a variety of locations and bookmark for future references.
                    Furthermore, <i>SunSpot</i> also serves as a hub that provides helpful general resources for users of all 
                    backgrounds and experience to better understand solar panels.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- API Links CSS -->
<style>
    a:link {
        color:white;
    }

    a:visited {
        color:white;
    }

</style>

<!-- Boxes -->
<section class="p-5">
    <div class="container">
        <div class="row text-center gx-5">
            <div class="col">
                <div class="card text-light" style="background-color: #FBB508; height: 190px">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3"><a href="https://openweathermap.org/" target="_blank">OpenWeather API</a></h3>
                        <p class="card-text">
                            OpenWeather provides both historical and up-to-date weather data for any coordinates in the world.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-light" style="background-color: #FBB508; height: 190px">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3"><a href="https://solcast.com/solar-radiation-data/" target="_blank">Solcast API</a></h3>
                        <p class="card-text">
                            Solcast focuses on identifying weather forecast data that relates to solar power assets.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-light" style="background-color: #FBB508; height: 190px">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3"><a href="https://developers.google.com/maps" target="blank_">Google Maps API</a></h3>
                        <p class="card-text">
                            Google Maps assists in creating real-time maps for a variety of purposes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Target audience -->
<section class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col">
                <img src="https://otbsalessolutions.com/wp-content/uploads/2021/08/Farmer-standing-in-field.jpg" class="img-fluid" width="580" height="435"  alt=""/>
            </div>
            <div class="col p-5">
                <h2><span style="color: #51b1bf">Who Should Use</span><span style="color: #FFAE42"> SunSpot</span><span style="color: #51b1bf">?</span></h2>
                <p class="lead">
                    <i>SunSpot</i> encourages anyone — personal, municipal, private — to consider utilizing solar energy farms.
                    Users would be able to determine to most suitable areas for building solar farms that would generate the most
                    efficient yield of energy.</p>
                <p class="lead"> Across the state of Florida, there are acres of unused land that could be converted into potential 
                    photovoltaic resources. With the help of <i>SunSpot</i>, even residential individuals with large expanses of private 
                    property could discern the best locations for personal solar panels.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Statistics -->
<section class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between gx-5">
            <div class="col">
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <canvas id="myChart" width="100" height="100"></canvas>
            </div>
            <div class="col">
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <canvas id="myChart2" width="200px" height="200px"></canvas>
            </div>
        </div>



    </div>
</section>

<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['2020', '2021', '2022', '2023', '2024', '2025'],
            datasets: [{
                label: 'Solar Power [gigawatts]',
                data: [1400, 1600, 1760, 1990, 2200, 2400],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                },
            },
            plugins: {
            title: {
                display: true,
                text: 'Projected Future Solar Energy Power Capacity (IEA)',
                padding: {
                    bottom: 30,
                },
                font: {
                    size: 30
                }
            }
        }
        }
    });

    const ctx1 = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ['1995', '2000', '2005', '2010', '2015', '2020'],
            datasets: [{
                label: 'Average USD (2015) per Watt',
                data: [6, 5, 4.4, 2.1, 0.8, 0.2],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
            title: {
                display: true,
                text: 'Cost of Solar Panels Throughout the Years (IEA)',
                padding: {
                    bottom: 30,
                },
                font: {
                    size: 30,
                }
            }
        }
        }
    });

</script>

{% endblock content %}