<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homePage.css') }}">

    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>SunSpot</title>
    {% endif %}
</head>
<body>
<nav class="navbar navbar-expand navbar-dark" style="background-color: #FFAE42;">
  <div class="container" style="padding-top: 7px; padding-bottom: 7px">
      <a class="navbar-brand" href="{{ url_for('home') }}">
      <!--<img src="https://cdn.mos.cms.futurecdn.net/FxHkyv4XaJP8jZYmMzMogh.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">-->
      <img src="sunspot-logo.png" alt="" width="150" height="50" class="d-inline-block align-text-top">
      </a>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
              {% if current_user.is_authenticated %}
                <li class="nav-itm">
                    <a href="{{ url_for('about') }}" class="nav-link active">About</a>
                </li>
                <li class="nav-itm">
                    <a href="{{ url_for('application') }}" class="nav-link active">Go to App</a>
                </li>
                <li class="nav-itm">
                    <a href="{{ url_for('logout') }}" class="nav-link active">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#profile" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Profile</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('bookmarks') }}">Bookmarks</a></li>
                    </ul>
                </li>
              {% else %}
                <li class="nav-itm">
                    <a href="{{ url_for('login') }}" class="nav-link active">Login/Register</a>
                </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>
{# display flash messages from the flash() flask function #}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}", style="margin-bottom: 0;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %} {% endblock %}

<footer class="p-5 bg-light text-dark text-center footer">
    <div class="container">
        <p class="lead">Copyright &copy; CEN3031 Group 22</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>