{% extends "layout.html" %}
{% block content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Login</title>
    </head>
    <div class="container1">
        <div class="center">
            <h1>Login</h1>
            <form method="post" action="">
                {{ form.csrf_token }}
                <div class="txt_field">
                    {{ form.email(class='form-control form-control-lg') }}
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    {{ form.password(class='form-control form-control-lg') }}
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="rem">{{ form.remember() }}
                    {{ form.remember.label() }}

                </div>
                {{ form.submit() }}
                <div class="signup_link">
                    Don't Have an account?
                    <a href="{{ url_for('register') }}">Signup</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}