{% extends "layout.html" %}
{% block content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Login</title>
    </head>
    <div class="container1">
        <div class="center">
            <h1>Login</h1>
            <form method="post" action="">
                {{ form.csrf_token }}
                <div class="txt_field">
                    {% if form.email.errors %}
                        {{ form.email(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class='form-control form-control-lg') }}
                    {% endif %}
                    <span></span>
                    {{ form.email.label }}
                </div>
                <div class="txt_field">
                    {% if form.password.errors %}
                        {{ form.password(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class='form-control form-control-lg') }}
                    {% endif %}
                    <span></span>
                    {{ form.password.label }}
                </div>
                <div class="rem">{{ form.remember() }}
                    {{ form.remember.label }}

                </div>
                {{ form.submit() }}
                <div class="signup_link">
                    Don't Have an account?
                    <a href="{{ url_for('register') }}">Signup</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}