{% extends "layout.html" %}
{% block content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Login</title>
    </head>
    <div class="container1">
        <div class="center">
            <h1>Register</h1>
            <form method="POST" action="">
                {{ form.csrf_token }}
                <div class="txt_field">
                    {{ form.username(class='form-control form-control-lg') }}
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    {{ form.email(class='form-control form-control-lg') }}
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    {{ form.password(class='form-control form-control-lg') }}
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="txt_field">
                    {{ form.password_confirm(class='form-control form-control-lg') }}
                    <span></span>
                    <label>Confirm Password</label>
                </div>
                {{ form.submit(style="margin-bottom: 30px;") }}
            </form>
        </div>
    </div>

{% endblock %}
